
/* footer */
#containerfooter {
	background-color:#E9ECEF;
}
/* section contact */
#enfantliens a{
	text-decoration: none;
	color: white;
}

/* css social icons  */

#social-icons li {
	padding-top: 20px;
}

#social-icons a {
	width: 60px;
	height: 60px;
	display: block;
	background: url('../img/social-icons.png') no-repeat -237px -233px;
	transition: s;
	border-radius: 50%;
}

	#social-icons a.twitter {
		background-position: -165px -378px;
	}

	#social-icons a.snapchat {
		background-position: -309px -306px;
	}

	#social-icons a.instagram {
		background-position: -20px -306px;
	}

	#social-icons a:hover {
		background-position: -237px -17px;
	}

	#social-icons a.twitter:hover {
		background-position: -165px -161px;
	}

	#social-icons a.snapchat:hover {
		background-position: -309px -89px;
	}

	#social-icons a.instagram:hover {
	background-position: -20px -89px;
}