body {
    background-color: #F8F9FA;
    font-family: 'Lato';
}
header {
    background-color: #F8F9FA;
}

/* HEADER */

.headcontain {
    max-width: 2000px;
    background-color: #F8F9FA;
}

.logo {
    width: 25%;
}
.imglogo {
    width: 100%;
}

.btn {
    border: none;
    transition: 0.4s all;

}
.btn:hover {
    background-color: #0056B3;
    color: #fff;
}

.dropdown img {
    width: 25px;
}

/* BODY */
#icon {
    background-color: #E9ECEF;
}
#icon img {
    width: 33.33333%;
}

#contenu img {
width: 550px;

}
#bienvenue {
    font-size: 2.2em;
}

h1 {
    font-size: large;
    font-weight: bold;
}
#contenu p {
    word-spacing: 4px;
    line-height: 1.3em;
}


/* RESPONSIVE */

@media(max-width: 800px)
{
    #contenu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media(min-width: 1170px)
{
    #contenu img {
        width: 700px;
    }
}

@media(max-width: 650px)
{
    .navbar{
    
    }
    .logo  img {
        width: 148px;
        height: 155px;
    }
}
