body {
    background-color: #112F41;
    color: #ffffff;
    font-family: 'Lato';
}
header {
    background-color: #112F41;
    color: #ffffff;
    font-family: 'Lato';
}

.container {
    max-width: 2000px;
    background-color: #112F41;
}

.logo {
    width: 150px;
    left: 2%;
}
.imglogo {
    width: 100%;
}


.btn {
    background-color: #0052a4;
    border: none;
    transition: 0.4s all;
}
.btn:hover {
    background-color: #07a9fc;
}

.carousel {
    width: 50%;
    border-color: #112F41;
    border-radius: none;
}
