.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.infos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 9em;
}
#carouselExampleControls {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 9em;
}

.textcarou1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}
.jumbotron {
  text-align: center;
  margin-top: 9em;
  margin-bottom: 9em;
  background-color: #FFFFFF;
}
