.contenant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: blue;
}

/* JUMBOTRON */
#logo_about {
  max-width: 10%;
}

.jumbotron_about {
  text-align: center;
}

#accroche p{
  line-height: 1.3em;
}

/* DECOUVREZ-NOUS */
.discover {
  display: flex;
  justify-content: center;
  text-align: center;
}


/* PREMIER DECK DE CARTES BOOTSTRAP */
.card_about {
  margin-top: 2em;
  width: auto;
}
.card_about h5 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.card_about p {
  text-align: center;
  line-height: 1.3em;
}

/* CAROUSEL */
.carousel-content {
  display: flex;
  justify-content: center;
}
#carouselExampleControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  width: 900px;
}


/* NOS VALEURS */
.valeurs_group {
  margin-top: 2em;
  text-align: center;
}

/* SECOND DECK DE CARTES BOOTSTRAP */
.card_about2 {
  margin-top: 2em;
  width: auto;
  line-height: 1.3em;
}
.card_about2 h5 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.section_title {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

/* NOTRE EQUIPE */

/* NETWORK VIP N'ATTEND PLUS QUE VOUS */
.launch {
  margin-top: 2em;
}
.btn_about {
  margin-top: 2em;
}

@media (max-width: 800px) {
  .discover {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .card_about {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .carousel-content {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .valeurs_group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .card_about2 {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
}
@media (max-width: 800px) {
  .section_title {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .team {
    display: flex;
    flex-direction: column;
    width: 38%;
    margin: auto;
  }
}

/* DASHBOARD.PHP */
.contenant_dashboard {
  display: flex;
}
.page_title {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  color: #ffffff;
}
.jumbotron2 {
  text-align: center;
}

.jumbotron2 p{
  margin-top: 2em;
}

canvas {
  max-width: 500px;
}
.graphiques {
  display:flex;
  max-width: 1900px;
}

.graph1 {
  display: flex;
  justify-content: center;
  position: relative;
  height:40vh;
  width:80vw;
  margin-top: 9em;
}
.graph2 {
  display: flex;
  justify-content: center;
  position: relative;
  height:40vh;
  width:80vw;
  margin-top: 9em;
}
